langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf

# embeddings
langchain-huggingface

# vector store
chromadb
# semantic chunking
langchain-experimental